{@ $site_title_top = 'N:Source' }
{@ $point_color = '#02b875' }

<div style="font-family: 'Apple SD Gothic Neo', 'sans-serif' !important; width: 540px; height: 600px; border-top: 4px solid {$point_color}; margin: 100px auto; padding: 30px 0; box-sizing: border-box;">
	<h1 style="margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
		<span style="font-size: 15px; margin: 0 0 10px 3px;">{$site_title_top}</span><br />
		<span style="color: {$point_color};">임시 비밀번호</span> 안내입니다.
	</h1>
	<p style="font-size: 16px; line-height: 26px; margin-top: 50px; padding: 0 5px;">
		안녕하세요.<br />
		요청하신 임시 비밀번호가 생성되었습니다.<br />
		아래 <b style="color: {$point_color};">'생성 확인'</b> 버튼을 클릭한 뒤, 임시 비밀번호로 로그인하세요.<br />
		감사합니다.
	</p>

	<p style="font-size: 16px; margin: 40px 5px 20px; line-height: 28px;">
		임시 비밀번호: <br />
		<span style="font-size: 24px;">{$auth_args->new_password}</span>
	</p>
	<a style="color: #FFF; text-decoration: none; text-align: center;" href="{$find_url}" target="_blank"><p style="display: inline-block; width: 210px; height: 45px; margin: 30px 5px 40px; background: {$point_color}; line-height: 45px; vertical-align: middle; font-size: 16px;">생성 확인</p></a>

	<div style="border-top: 1px solid #DDD; padding: 5px;">
		<p style="font-size: 13px; line-height: 21px; color: #555;">
			만약 버튼이 정상적으로 클릭되지 않는다면, 아래 링크를 복사하여 접속해 주세요.<br />
			{$find_url}
		</p>
	</div>
</div>